language = "python"
run = "uvicorn bot:app --host 0.0.0.0 --port 8080"

[packager]
after = ["pip", "install", "-r", "requirements.txt"]

[workflows]

[[workflows.workflow]]
name = "run bot"
mode = "sequential"
author = 55537756

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"

[[workflows.workflow]]
name = "run"
mode = "sequential"
author = 55537756

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "run bot"
