language = "python"
run = "uvicorn bot:app --host 0.0.0.0 --port 10000"
modules = ["python-3.11"]

[packager]
after = ["pip", "install", "-r", "requirements.txt"]

[workflows]
runButton = "run Workflow"

[[workflows.workflow]]
name = "run Workflow"
mode = "sequential"
author = 55537756

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"

[[ports]]
localPort = 10000
externalPort = 80

[agent]
expertMode = true
